body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container{
  display: grid;
  grid-template-columns:15% 85%;
  grid-template-rows: repeat(4,minmax(150px,auto));
}
.animals{
  grid-column-start: 3;
  grid-row-start: 2;
}

#footer{
  color: aliceblue;
  padding: 5px;
}
#footer a{
  color: aliceblue;
  text-decoration: none;
}
#footer .col{
  display:flex;
  list-style:none;
  flex-direction:column;
}
button{
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}
button:hover {background-color: #3e8e41}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*animation*/
.loading span{
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: #6e6e6d;
  border-radius: 50%;
  display: inline-block;
  animation-name: dots;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.loading span:nth-child(2){
  background-color: #535351;
  animation-delay: 0.4s;
}
.loading span:nth-child(3){
  background-color: #3f3f3e;
  animation-delay: 0.6s;
}

@keyframes dots{
  50%{
    opacity: 0;
    transform: scale(0.7) translateY(10px);
  }
}

.boxskeleton{
  background-color: whitesmoke;
  border-radius: 50%;
  display: inline-block;
  animation-name: skeleton;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes skeleton{
  80%{
    opacity: 0;
    transform: scale(0.7) translateY(10px);
  }
}